<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{coreConfigs.gameTitle}}{{title}}</title>
  <meta name="viewport" content="minimal-ui, user-scalable=no, initial-scale=0.7, maximum-scale=0.7, width=device-width" />
  <meta name="description" content="The smash-hit game! Play with millions of players around the world and try to become the longest of the day!" />
  <meta property="og:description" content="The smash-hit game! Play with millions of players around the world and try to become the longest of the day!" />
  <meta name="keywords" content="slitherio, slither, io, snake, snakes, worm, worms, game, games, web game, html5, fun, flash">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{coreConfigs.urlName}}" />
  <meta property="og:url" content="{{coreConfigs.urlLink}}/" />
  <meta property="og:site_name" content="{{coreConfigs.urlName}}" />
  <meta property="og:image" content="{{coreConfigs.urlLink}}/assets/img/fbthumb.jpg" />
  <link rel="image_src" href="{{coreConfigs.urlLink}}/assets/img/fbthumb.jpg" />
  <link rel="icon" href="/assets/img/favicon.png" />
  <link href="/assets/css/bootstrap.min.css?v{{coreConfigs.version}}" rel="stylesheet" type="text/css" />
  <link href="/assets/css/slither.css?{{coreConfigs.version}}" rel="stylesheet" type="text/css" />
  
</head>
<body>
{{{body}}}
<script src="/assets/js/jquery-1.11.3.min.js?{{coreConfigs.version}}"></script>
<script src="/assets/js/bootstrap.min.js?{{coreConfigs.version}}"></script>
<script src="/assets/js/plither.js?{{coreConfigs.version}}"></script>
<script src="/assets/js/i18n.js?{{coreConfigs.version}}"></script>
</body>
</html>